<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299041185289-ice7jrugqkk4noramdtecl2dk6skm0el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299041185289-ice7jrugqkk4noramdtecl2dk6skm0el</string>
	<key>API_KEY</key>
	<string>AIzaSyC6DcaA2Ql1423DD1IG4aUiZVRpzFpIo9k</string>
	<key>GCM_SENDER_ID</key>
	<string>299041185289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Roy.com.StockApp</string>
	<key>PROJECT_ID</key>
	<string>coinmoya</string>
	<key>STORAGE_BUCKET</key>
	<string>coinmoya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299041185289:ios:3417b088f46f4534cb22d8</string>
</dict>
</plist>